<header class="card mb-6 border-2 border-purple-500">
    <h1 class="text-4xl font-bold">Zoa Hickenlooper</h1>
    <p class="text-xl">🚀 Welcome to my website!</p>
</header>

<blockquote>
  <p class="text-lg italic">I Like Linux <br>Cats <br>and Computers</p>
</blockquote>

<section class="card mb-6 border-2 border-purple-500">
  <div class="flex justify-between items-start">
    <div>
      <h2 class="text-2xl font-semibold mb-4">👾 ~$ whoami</h2>
      <p class="text-lg mt-2">
        <!-- <span class="badge pronouns">Any Pronouns</span> 
        <span class="badge non-binary">Non-Binary</span>
        <span class="badge trans" data-text="Trans">Trans</span>
        <span class="badge asn">🌐 AS214806</span> -->
      </p>
      <p>
        I'm a tech-savvy professional with expertise in computer science, programming, security, networking, engineering, and repair.
        <br>As an incredibly fast learner, I'm always looking to simplify, automate, and master new challenges and projects with an out-of-the-box mindset.
      </p>
      <p class="mt-4">
        In my free time, I dive deeper into the vast ocean of technology. My coding adventures span from contributing to open-source projects to exploring the intricate art of malware development and analysis. 
      <br>As a self-proclaimed networking nerd, I'm constantly learning more about BGP and innovative networking solutions.
      <br>Recently, I've been tuning into the world of amateur radio and meshtastic, combining my love for tech with the excitement of wireless communication.
      <br>When I'm not immersed in lines of code or tinkering with radio frequencies, you'll find me enjoying quality time with my cats, who often supervise my late-night tech experiments.
      </p>
    </div>
    <div class="profile-picture-container ml-4">
      <img src="/static/images/selfie.webp" alt="Zoa Hickenlooper" class="profile-picture" loading="lazy" onclick="openModal(this.src, this.alt)">
    </div>
  </div>
    <div class="cat-images">
      <img src="/static/images/ascii.webp" alt="ASCII" class="cat-image" loading="lazy" onclick="openModal(this.src, this.alt)">
      <img src="/static/images/dishwater.webp" alt="Dishwater" class="cat-image" loading="lazy" onclick="openModal(this.src, this.alt)">
    </div>
    <!-- Modal -->
    <div id="imageModal" class="modal">
      <span class="close" onclick="closeModal()">&times;</span>
       <img class="modal-content" id="modalImage">
    <div id="caption"></div>
  </div>
</section>


<section class="card mb-6 border-2 border-purple-500">
  <h3 class="text-2xl font-semibold mb-4">😺 ~$ cat skills.txt</h3>

  <dl class="list-disc pl-5 space-y-2">
    <dt><b>Development:</b><dt>
      <dd>Highly proficient in building web applications with javascript, typescript, python, php, ruby, rust, and golang.  Working knowledge of frameworks such as laravel, rails, react, django and vue, rocket, gin.  Experienced in writing scripts for automation in bash/python.  Strong knowledge of C, C++ and Rust.</dd>

    <dt><b>Network administration:</b></dt>
      <dd>In depth experience implementing and maintaining various parts of production networks.</dd>
      <dd>Working knowledge of protocols such as OSPF, EIGRP, BGP, DHCP and DNS.</dd>

    <dt><b>System administration:</b></dt>
      <dd>Strong proficiency deploying, configuring and maintaining linux and windows systems.  Working knowledge of managing various technologies such as IPMI, Active Directory, Exchange, apache and IIS.</dd>
      <dd>Strong proficiency in configuring, managing, networking, repairing, and troubleshooting physical servers and workstations.</dd>

    <dt><b>Cloud:</b></dt> 
    <dd>Experience working in and managing various cloud environments such as AWS, Azure/AzureAD and GCP.</dd>
    <dd>Working knowledge of tools such as Terraform, Ansible and Cloudformation.<dd>

  </dl>
  <div class="skill-badges">
    <div class="skill-badge">
      <i class="devicon-javascript-plain colored"></i>
      <span>JavaScript</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-typescript-plain colored"></i>
      <span>TypeScript</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-python-plain colored"></i>
      <span>Python</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-php-plain colored"></i>
      <span>PHP</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-ruby-plain colored"></i>
      <span>Ruby</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-rust-plain colored"></i>
      <span>Rust</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-go-original-wordmark colored"></i>
      <span>Go</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-c-plain colored"></i>
      <span>C</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-cplusplus-plain colored"></i>
      <span>C++</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-bash-plain colored"></i>
      <span>Bash</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-laravel-plain colored"></i>
      <span>Laravel</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-rails-plain colored"></i>
      <span>Ruby on Rails</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-react-original colored"></i>
      <span>React</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-django-plain colored"></i>
      <span>Django</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-vuejs-plain colored"></i>
      <span>Vue.js</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <span>AWS</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-azure-plain colored"></i>
      <span>Azure</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-googlecloud-plain colored"></i>
      <span>GCP</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-terraform-plain colored"></i>
      <span>Terraform</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-ansible-plain colored"></i>
      <span>Ansible</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-gentoo-plain colored"></i>
      <span>Gentoo</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-linux-plain colored"></i>
      <span>Void Linux</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-archlinux-plain colored"></i>
      <span>Arch Linux</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-debian-plain colored"></i>
      <span>Debian</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-linux-plain colored"></i>
      <span>Devuan</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-linux-plain colored"></i>
      <span>LFS</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-linux-plain colored"></i>
      <span>Slackware</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-fedora-plain colored"></i>
      <span>Fedora</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-centos-plain colored"></i>
      <span>CentOS</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-ubuntu-plain colored"></i>
      <span>Ubuntu</span>
    </div>
    <div class="skill-badge">
      <i class="devicon-redhat-plain colored"></i>
      <span>Red Hat</span>
    </div>
  </div>
</section>

<blockquote>
  <p class="text-lg italic">TRY MY SITE ON CURL!<br> curl zoa.sh</p>
</blockquote>

<section class="card mb-6 border-2 border-purple-500">
  <h3 class="text-2xl font-semibold mb-4">🛠️ ~$ ls projects</h3>
  {{#if projects}}
  <div id="projectList">
    {{#each projects as |project index|}}
    <div class="project-item mb-4 {{#if (gte index 2)}}hidden{{/if}}" data-project="{{index}}">
      <h4 class="text-xl font-semibold">{{project.name}}</h4>
      <p>{{project.description}}</p>
      <p>Technologies: {{#each project.tech as |tech|}}{{tech}}{{#unless @last}}, {{/unless}}{{/each}}</p>
      <a href="/redirect/{{project.repo}}" class="git-button"><i class="devicon-git-plain"></i>View on GIT</a>
    </div>
    {{#if @last}}
      {{#if (gte @index 2)}}
        <button id="showMoreProjects" class="git-button mt-4">Show More</button>
      {{/if}}
    {{/if}}
    {{/each}}
  </div>
  {{else}}
    <p>More Projects Coming Soon!</p>
  {{/if}}
</section>

<section class="card mb-6 border-2 border-purple-500">
  <h3>📧 ~$ echo "Contact Me"</h3>

  <form action="mailto:zoa@zoa.sh" method="post" enctype="text/plain">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
  
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
    </div>
  
    <button type="submit">Send Message</button>
  </form>
</section>

<blockquote>
  <p class="text-lg italic">"A bug is never just a mistake. It represents something bigger. An error of thinking. That makes you who you are." <br>-Elliot</p>
</blockquote>

<section class="card mb-6 border-2 border-purple-500">
  <h2 class="text-2xl mb-4">🚀 ~$ tail work.log</h2>
  <dl class="space-y-6">
    <div>
      <dt class="text-xl"><b>Full Stack Software Engineer @ Occamsec</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Develop frontend and backend code for InCenter, an automated breach and attack simulation platform</li>
          <li>Deploy and configure InCenter infrastructure on AWS cloud using terraform and ansible</li>
        </ul>
      </dd>
    </div>
    
    <div>
      <dt class="text-xl"><b>Linux Engineer @ Filmtek Cloud</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Design, develop, test and install custom Linux based firmware for RK3328 CPUs</li>
          <li>Identify and remediate security issues in code and infrastructure</li>
          <li>Automate CI/CD pipelines, network/system configurations with python and bash</li>
          <li>Deploy and maintain security software including firewalls, EDRs and VPNs</li>
          <li>Administer network devices and services (routers, switches, DNS, DHCP)</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>IT Engineer @ Goldman Sachs</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Administer UNIX/Linux servers, including configuration and troubleshooting</li>
          <li>Resolve issues with Citrix XenDesktop, VMWare ESXi, and Carbon Black App Control</li>
          <li>Configure and troubleshoot network devices and VOIP systems</li>
          <li>Manage Active Directory user provisioning and group changes</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>Server Engineer @ AWS</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Install and test server racks, fiber cables and nodes</li>
          <li>Develop scripts to automate tests, installations and benchmarks</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>Software Engineer @ Pizzeria Limone</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Developed invoice and analytics applications in python, javascript and HTML/CSS</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>IT Support Specialist @ Herbs For Health</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Manage and configure various networking devices including routers, switches, firewalls and VPNs</li>
          <li>Monitor and troubleshoot servers and user workstations</li>
          <li>Write automation scripts in python, bash and powershell</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>IT Support @ Canyons School District</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Helping I.T. maintain network, test and report security flaws and vulnerabilities</li>
          <li>Fixed and maintained staff and student machines, and setting up classroom networks</li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="text-xl"><b>Computer and Machine Repair @ Nickelcade</b></dt>
      <dd class="ml-4">
        <ul class="list-disc pl-5">
          <li>Tested, repaired, and maintained arcade machines and vending equipment</li>
          <li>Diagnosed issues, replaced parts, and used technical documentation for repairs</li>
        </ul>
      </dd>
    </div>

  </dl>
</section>

<blockquote>
  <p class="text-lg italic">Thanks for Visiting!</p>
</blockquote>
